<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="laser_joint" type="fixed">
        <parent link="chassis"/>
        <child link="laser_frame"/>
        <origin xyz="0.06 0.0 0.05" rpy="0 0 0"/>


    </joint>

    <link name="laser_frame">
        <visual>
            <origin xyz="0.0 0.0 -0.025" rpy="0 0 ${pi/2}"/>
            <geometry>
                <mesh filename="package://beagle_description/meshes/nano_lidar.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.025" rpy="0 0 ${pi/2}"/>
            <geometry>
                <mesh filename="package://beagle_description/meshes/nano_lidar.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <!-- update inertial -->
        <xacro:inertial_cylinder mass="0.1" length="0.032" radius="0.0125">
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <!-- using gazebo -->
    <gazebo reference="laser_frame">
        <material>Gazebo/Red</material>

        <sensor name="laser" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <!-- sensor update rate -->
            <update_rate>10</update_rate>
            <!-- parameter for virtual ray sensor -->
            <ray>
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>5.0</max>
                </range>
            </ray>
            <!-- plugin for interact with outside and inside gazebo -->
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=scan</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>laser_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>
